app:
  name: "go-starter-template"
web:
  port: 3000
  prefork: true
  cors:
    allow_origins: "http://localhost:3000/"
jwt:
  secret: "secret"
  refresh_secret: "refresh_secret"
  csrf_token_expiration: 900 #second (15 minutes)
  access_token_expiration: 900 #second (15 minutes)
  refresh_token_expiration: 60480 #second (7 days)
redis:
  address: "localhost:6379"
  password: "password"
  db: "0"
  pool: 
    size: 10
    min_idle: 0
    max_idle: 0
    lifetime: 300
    idle_timeout: 60
log:
  level: 6
database:
  dsn: "postgresql://postgres:password@localhost:5432/database?sslmode=disable"
  pool:
    idle: 10
    max: 100
    lifetime: 300
  log:
    level: 4
monitoring:
  otel: 
    host: "host.docker.internal:4318"
